@import "../../styles/base";

.AppWrapper {
  min-height: 100vh;

  background-color: white;
}

.Main {
  min-height: 100vh;
  padding-top: var(--header-height);

  overflow-y: auto;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.Main::-webkit-scrollbar {
  display: none;
}

@media (min-width: map-get($breakpoints, md)) {
  .Main {
    min-height: calc(100vh - var(--footer-height));
    padding-top: 0;
    padding-left: 360px;
  }

  .MainHorizontal {
    min-height: calc(100vh - var(--footer-height));
    padding-top: 0;
  }
}
